<%= render 'pages/static_nav' %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: #20356b;">About Tradesgram</h2>
            <hr>
            <p style="color: #333;">Helping blue collar professionals and industries expand their proffesinal stature, connections and opportunities with their marketplace.</p>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>