<%= render 'pages/static_nav' %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="color: #20356b;">Privacy Policy</h2>
            <hr>
            <p style="color: #333;"></p>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>